*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1146px;
    margin: auto;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 60px 0 55px;
}

.header-wrapper__menu ul{
    display: flex;
    list-style: none;
}

.header-wrapper__logo a {
	font-family: 'M PLUS 1p', sans-serif;
	font-weight: 900;
	font-size: 24px;
	line-height: 43px;
	letter-spacing: 2px;
	color: #0F044C;
	text-decoration: none;
}

.header-wrapper__menu a {
	font-weight: 800;
	font-size: 14.4px;
	line-height: 30px;
	font-family: 'M PLUS 1p', sans-serif;
	color: #080800;
	text-decoration: none;
    margin-right: 46px;
}

.header-wrapper__menu li:last-child a{
    margin-right: 0;
}

/* .header-wrapper__tel a{
	font-weight: 800;
	font-size: 14px;
	line-height: 30px;
	font-family: 'M PLUS 1p', sans-serif;
	letter-spacing: 2px;
	color: #30233D;
	text-decoration: none;
	display: inline-block;
	padding-left: 30px;
} */

/* .header-wrapper__tel{
	background-image: url(../images/tel.svg);
	display: inline-block;
	background-repeat: no-repeat;
} */

.tel{
	font-weight: 800;
	font-size: 14px;
	letter-spacing: 2px;
	color: #30233D;
	text-decoration: none;
	font-family: 'M PLUS 1p', sans-serif;
	background-image: url(../images/tel.svg);
	display: inline-block;
	height: 29px;
	background-repeat: no-repeat;
	padding-left: 27px;
	line-height: 29px;
}

.menu-icon{
	display: none;
}

.hero{
	background-image: url(../images/main-bg1.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 126px;
	padding-bottom: 115px;
}

.hero__title{
	color: #FCFCFC;
	font-family: 'M PLUS 1p', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 54px;
	line-height: 80px;
	/* padding-top: 126px; */
	margin-bottom: 22px;
}

.hero__text{
	font-family: 'M PLUS 1p', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 143.9%;
	letter-spacing: 2px;
	color: #F4F4ED;
	/* padding-bottom: 115px; */
}

.remember{
	padding-top: 72px;
}

.remember h2{
	font-family: 'M PLUS 1p', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 12.6px;
	line-height: 26px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #A22F32;
	/* padding-top: 72px; */
	margin-bottom: 12px;
}

.remember p{
	max-width: 870px;
	font-family: 'M PLUS 1p', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 27px;
	line-height: 40px;
	/* padding-bottom: 60px; */
	max-width: 870px;
	margin-bottom: 60px;
}

.technologies__wrapper{
	display: flex;
	justify-content: space-between;
    align-items: stretch;
	flex-wrap: wrap;
}

.technologies{
	padding-bottom: 58px;
}

.technologies__block h3{
	font-family: 'M PLUS 1p', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 27px;
	line-height: 40px;
	color: #30233D;
	padding-bottom: 13px;
	padding-top: 33px;
	text-transform: uppercase ;
}

.technologies__block p{
	font-family: 'M PLUS 1p', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16.2px;
	line-height: 26px;
	color: #30233D;
	max-width: 290px;
}

.technologies__block{
	border: 1px solid #F61067;;
	padding: 39px 36px 64px 36px;
	/* display: inline-block; */
	max-width: 31.588%;
	/* height: 395px; */
}

.html{
	width: 72px;
	height: 72px;	
}

.css{
	width: 72px;
	height: 72px;	
}

.bootstrap{
	width: 72px;
	height: 72px;	
}

footer{
	background-color: #080800;
}

.footer-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 84px 0 72px;

}

.footer-wrapper__code img{
	background-repeat: no-repeat;
	width: 111px;
	height: 42px;
}

.footer-wrapper__text{
	font-family: 'M PLUS 1p', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 11.7px;
	line-height: 19px;
	color: white;
}

.inst img{
	background-repeat: no-repeat;
	width: 26.67px;
	height: 26.67px;
	display: block;
}

.inst{
	padding-right: 22px;
}

.vk img{
	background-repeat: no-repeat;
	width: 30.87px;
	height: 18.33px;
	display: block;
}

.footer-wrapper__networks{
	display: flex;
	align-items: center;
}

/* Адаптив */

@media(max-width: 1146px){
	.container{
		max-width: 95%;
	}
}

@media(max-width: 992px){

	.menu-icon{
		display: inline-block;
		margin-left: 89px;
	}

	nav{
		display: none;
	}

	.technologies__block{
		max-width: 48%;
		margin-bottom: 30px;
	}

	.remember{
		max-width: 830px;
	}
}

@media(max-width: 660px){

	.technologies__block{
		max-width: 100%;
	}

	.tel{
		display: none;
	}
}